<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
</head>
<body>

    <!-- Navbar Srction -->
    <nav class="navbar"> 
      <div class="navbar__container">
          <div class="navbar__logo__container">
              <a href="{{ url_for('home') }}" id="navbar__logo"><img src="../static/images/logo.png" alt="logo" id="main__logo"></a>
              <div class="navbar__weather">
                <div  id="iddea7dd60ff4ec" a='{"t":"s","v":"1.2","lang":"en","locs":[741],"ssot":"c","sics":"ds","cbkg":"#FFFFFF","cfnt":"#000000","slgp":6,"sdr":"lr","slfs":19,"slbr":15,"slpd":6,"slis":27}'>Weather Data Source: <a href="https://sharpweather.com/weather_famagusta/30_days/">30 days weather Famagusta</a></div></div><script async src="https://static1.sharpweather.com/widgetjs/?id=iddea7dd60ff4ec"></script>
          </div>
          <div class="navbar__toggle" id="mobile-menu">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </div>
          <ul class="navbar__menu">
            <li class="navbar__item">
              <a href="{{ url_for('home') }}" class="navbar__links"> Our Services </a>
            </li>
            <li class="navbar__item">
                <a href="{{ url_for('home') }}#about" class="navbar__links"> About </a>
            </li>
            <li class="navbar__item">
                <a href="{{ url_for('emergency') }}" class="navbar__links"> Contact </a>
            </li>
        </ul>
      </div>
  </nav>


  <h class="Tabs__title">Blog</h>
  <div class="skill__body">
    <a href="{{ url_for('add_blog') }}" style="text-decoration: none">
      <div class="button-container">
          <button class="new-post-button">+</button>
      </div></a>

      {% for post in posts %}
      <section class="skill-sharing">


        
          <div class="post" id="post">
            <div class="post-info">
                <span class="distance">{{ post["name_blog"] }}</span>
                <span class="distance">{{ post["date_added"] }}</span>
            </div>
            <p class="description" style="margin: 5px;">{{ post["description"] }}</p>
            <div style="margin: 20px;">
              {% for replypost in replyposts %}
              {% if replypost["blog_id"] == post["blog_id"]%}
              <div class="post-info"> <!-- Navbar Srction -->
                <span class="distance">{{ replypost["name_reply"] }}</span>
              </div>
              <p class="description" style="margin: 5px;">{{ replypost["description"] }}</p>
              {% endif %}
              {% endfor %}
            </div>

            <button class="help-button" onclick="showDetails('details{{ loop.index }}')">Reply</button>
            <div class="details" id="details{{ loop.index }}">
              <section class="add-post">
              <form action="{{ url_for('blog') }}" method="POST" enctype="multipart/form-data">
                <label for="user_id">Citizen Number:</label>
                <input type="number" id="user_id" name="citizen_id" required>
                
                <label for="reply">Reply:</label>
                <textarea id="reply" name="reply" required></textarea>
                <input type="hidden" name="id" value="{{ post['blog_id'] }}">
                <button type="submit" value="Submit">Add Reply</button>
            </form>
            </section>
            </div>
        </div>
        
      </section>
      {% endfor %}

      <script>
        function showDetails(id) {
            var details = document.getElementById(id);
            if (details.style.display === "none" || details.style.display === "") {
                details.style.display = "block";
            } else {
                details.style.display = "none";
            }
        }


    </script>
    </div>


 <!-- footer Section -->
 <div class="footer__container">
  <div class="footer__nav">
    <div class="footer__nav__div"><a href="{{ url_for('home') }}#about" class="footer__nav__text"> About </a></div>
    <div class="footer__nav__div"><a href="{{ url_for('emergency') }}" class="footer__nav__text"> Emergancy Contact </a></div>
    <div class="footer__nav__div"><a href="{{ url_for('home') }}" class="footer__nav__text"> Our Services </a></div>
  </div>
  <div class="footer__contact">
    <div class="footer__contact__div"><span >Contact</span></div>
    <div class="footer__contact__div"><a href="tel:+90(392)6300500" class="footer__contact__text"> +90 (392) 630 05 00 </a></div>
    <div class="footer__contact__div"><a href="mailto:info@gazimagusabelediyesi.org" class="footer__contact__text"> info@gazimagusabelediyesi.org </a></div>
    <div class="footer__contact__div"><span >Polatpaşa Bulvarı Gazimağusa , KIBRIS</span></div>
    <div class="footer__social__div">
      <div class="footer__image__container">
        <a href="https://web.whatsapp.com/send?phone=905488166002&text=Merhaba%2C%20Gazimağusa%20Belediyesi%20web%20sitesi%20üzerinden%20size%20yazıyorum." id="footer__image"><img src="../static/images/whatsapp.png" alt="logo" id="main__logo"></a>
        <a href="https://www.facebook.com/GazimagusaBelediyesi" id="footer__image"><img src="../static/images/facebook.png" alt="logo" id="main__logo"></a>
        <a href="https://www.instagram.com/gazimagusabelediyesi/" id="footer__image"><img src="../static/images/instagram.png" alt="logo" id="main__logo"></a>
      </div>
        
    </div>
  </div>
</div>

    <script src="../static/js/app.js"></script>
</body>
</html>
