* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tilt Neon', Courier, monospace;
}

.navbar {
    background-color: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__logo__container {
    text-align:left;
}
#main__logo {
    height: 80%;
    margin:1.6% 0;
    align-items: center;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80%;
}

.navbar__links {
    color: #343434;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: #fe7711;
    transition: all 0.3 ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    #main__logo {
        height: 80%;
        margin:1.6% 1.6%;
        align-items: center;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns:auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 40vh;
        z-index: -1;
        background: #fff;
    }

    .navbar__menu.active {
        background: #fff;
        top:100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #343434;
    }

    .navbar__item {
    width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 23%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.Tabs {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

.Tabs__container {
    grid-gap: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
    max-width: 1200px;
    width:100%

}

.Tabs__content {
    background: #fff;
    border: 1px solid rgba(32, 42, 80, .1);
    border-radius: 30px;
    box-shadow: 0 14px 30px rgba(0, 0, 0, .02);
    cursor: pointer;
    padding:32px 36px;
    align-items: center;

}

.Tabs__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button {
    text-decoration: none;
    height: 100%;
    width: 100%;
    background: #fff;
    color: #343434;
    text-align: center;
    

}

.Tabs__content:hover {
    transition: all 0.3s ease;
    transform:scale(1.05)
}

.button__title {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    background: #fff;
    color: #343434;
    text-align: center;
    font-size: 30px;
    font-weight: 1000;
}