* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tilt Neon', Courier, monospace;
}


/*Navbar*/
.navbar {
    background-color: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__logo__container {
    text-align:left;
}
#main__logo {
    height: 80%;
    margin:1.6% 0;
    align-items: center;
}

.navbar__logo__text {
    align-content: center;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80%;
}

.navbar__links {
    color: #343434;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: #fe7711;
    transition: all 0.3 ease;

}
.navbar__logo__text {
    position:absolute;
    top: 29px;
    padding-left: 10px;
    text-decoration: none;
    color: #343434;
    font-size: 16px;


}

.navbar__weather {
    position: absolute;
    top: 20px;
    margin-left: 70px;
    border-radius: 21px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
  
}

@media screen and (max-width: 960px) {
    .navbar__logo__text {
        position:absolute;
        top: 29px;
        text-decoration: none;
        color: #343434;
        font-size: 13px;

    }
    
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 70px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 3px 8px;
    }
    #main__logo {
        height: 80%;
        margin:1.6% 1.6%;
        align-items: center;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns:auto;
        margin: 0;
        position: absolute;
        width: 97%;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 40vh;
        z-index: -1;
        background: #fff;
    }

    .navbar__menu.active {
        background: #fff;
        top:100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 64vh;
        font-size: 1.6rem;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #343434;
    }

    .navbar__item {
    width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 23%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
        border-radius: 2px;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.Main__center {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}


/*Tabs*/
.Tabs__container {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 5fr));
    max-width: 1200px;
    width:100%
}

.Tabs__content {
    background: #fff;
    /*border: 0.01px solid rgba(32, 42, 80, .1);*/
    border-radius: 21px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .04);
    cursor: pointer;
    padding:20px 20px;
    align-items: center;
}

.Tabs__content span {
    align-items: left;
    height: 100%;
    width: 100%;
    color: #343434;
}

.Tabs__image__container{
    height: 50px;
    width: 60px;
    align-items: center;
    justify-content: center;
    
}

.Tabs__image {
    height: 40px;
    align-items: center;
    padding-bottom: 100%;
    justify-content: center;
}

#Tab__image__id {
    width: 80%;
    margin:1.6% 0;
}

.Tabs__content:hover {
    transition: all 0.3s ease;
    transform:scale(1.05)
}

.Title {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #343434;
    text-align: center;
    font-size: 24px;
    font-weight: 1000;
}


.Tabs__title {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #343434;
    text-align: center;
    font-size: 24px;
    font-weight: 1000;
}


/*Weather wedget main screen*/
.weather__container {
    margin: 40px 20px;
    border-radius: 20px;
    border: 0.01px solid rgba(32, 42, 80, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .04);
}

/* News Section */
.News__main__section {
    height: 400px;
    overflow-y: hidden;
    margin: 30px 1px;

  }

.News__warning {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    padding-left: 10px; 

}
  
  .swiper {
    width: 290px;
    height: 320px;
    padding: 50px 0;
  }
  
  .swiper-slide {
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
  }
  
  .swiper-slide span {
    position: absolute;
    top: 0;
    right: 0;
    color: #343434;
    padding: 7px 18px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .04);
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: inherit;
    background: #fff;
    
  }
  
  .swiper-slide h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 7px 18px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .04);
    color:#343434;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    margin: 0 0 10px 10px;
    background: #fff;
  }
  
  .swiper-slide h4 {
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    position:absolute;
    top: 40px;
    left: 15px;
    right: 15px;
  }
  
  .swiper-slide:nth-child(1n) {
    background:#fff ;
  }
  

/*About*/
.City__continer {
    display: grid;
    grid-template-columns: repeat( minmax(200px, 5fr), auto-fit,);

}
.City__body {
    width: 1200px;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

/*Footer*/
.footer__container {
    position: relative;
    background-color: #343434;
    height: 400px;
    overflow: hidden;
    bottom: 0;
    width: 100%;
}

.footer__nav {
    position: absolute;
    left: 20px;
    top: 20px;

    
}

.footer__nav__div {
    padding-top: 20px;
}

.footer__nav__text {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.footer__contact{
    position: absolute;
    right: 20px;
    bottom: 10px;
    text-align: right;
}
.footer__contact__div {
    padding-top: 20px;
    color: #fff;
}

.footer__contact__text {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.footer__contact__text span {
    text-decoration:underline;
    
}

.footer__image__container{
    height: 50px;
    padding-top: 5px;
}

.footer__image {
    height: 40px;
    align-items: center;
    padding-bottom: 100%;
    justify-content: center;

}

/*Info*/
.Info__contact__text {
    text-decoration: none;
    color:  #fe7711;
    margin-top: 10;
    
}

.Info__continer {
    padding: 8px;
    
}

/*Mayor*/
.mayor__container {
    position: relative;
    width: 100%;
    height: 400px;
}

.mayor__container h1 {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 40px;
    font-weight: lighter;
    color: #fe7711;
}

.mayor__container span {
    position: absolute;
    top: 50px;
    left: 15px;
    font-size: 40px;
    width: 100px;
    font-weight: 900;
    
}

.mayor__image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 65%;
}
#mayor_image {
    height: 100%;
    filter: drop-shadow( 0 0 10px rgba(0, 0, 0, .2));
}

.Mayor__body {
    display: flex;
    text-align: justify;
    margin: 20px 20px;
    
}

.form {
    display:flexbox;
    padding: 20px
}

.input__field {
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .06);
    border: 0;
    overflow-x: auto;
    font-size: 17px;
}

input {
    padding-left: 10px;
}

textarea {
    padding-left: 10px;
    min-height: 100px;
}

.mayor__button {
    display: flex;
    justify-content: center;
    
}

.mayor__button button {
    font-size: 20px;
    font-weight: bold;
    color:#fe7711;
    background-color:#343434;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .06);
    margin-bottom: 20px
}


details {
	position: relative;
	width: 350px;
	margin-right: 1rem;
    margin-bottom: 20px;
}

details[open] {
	z-index: 1;
}

summary {
	padding: 1rem;
	cursor: pointer;
	border-radius: 20px;
	background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .06);
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
	display: inline-block;
	float: right;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

details ul {
	width: 100%;
	background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .06);
	position: absolute;
	top: calc(100% + 3px);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 20px;
	max-height: 230px;
	overflow-y: auto;
    list-style-type: none;
}

details li {
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
    
}

details li:first-child {
	padding-top: 0;
}

details li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
	counter-reset: radios;
}

summary.radios:before {
	content: var(--selection);
}

input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

input[type=radio]:checked {
	display: inline;
	--display: block;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

details ul.list {
	counter-reset: labels;
}

label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}
/*End of Mayor*/


/*skill sharing*/
